{{ $c := "c-hero" }}    
    <section id="banner" class="{{ $c }}" style="background-image: url('{{ .image }}'); background: {{ .backgound_color }}" alt="{{ .image_alt }}">
        
        {{ if .reversed }}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-reversed">
                            <h1 style="--title_color: {{ .title_color }}">{{ .title }}</h1>
                            <h2 style="--text_color: {{ .text_color }}">{{ .text }}</h2>
                            <div class="buttons">
                                {{ partial "bookshop" (slice "generic/button" .button_1 )}}
                                {{ partial "bookshop" (slice "generic/button" .button_2 )}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {{ if .scrolldown_to }}
                    <div class="scrolldown">
                        <a id="scroll" href="{{ .scrolldown_to }}" class="scroll"></a>
                    </div>
                {{ end }}

        {{ else }}

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 style="--title_color: {{ .title_color }}">{{ .title }}</h1>
                            <h2 style="--text_color: {{ .text_color }}">{{ .text }}</h2>
                            <div class="buttons">
                                {{ partial "bookshop" (slice "generic/button" .button_1 )}}
                                {{ partial "bookshop" (slice "generic/button" .button_2 )}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ if .scrolldown_to }}
                <div class="scrolldown">
                    <a id="scroll" href="{{ .scrolldown_to }}" class="scroll"></a>
                </div>
            {{ end }}
        {{ end }}
    </section>