.c-heading {

    .title h2 {
        font-size: 25px;
        padding-bottom: 25px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        color: var(--title_color);
      }
      
      .title h2:before {
          content: '';
          width: 40px;
          height: 2px;
          position: absolute;
          top: 12px;
          left: -60px;
          background: var(--line_color);
      }
      .title h2:after {
          content: '';
          width: 40px;
          height: 2px;
          position: absolute;
          top: 12px;
          right: -60px;
          background: var(--line_color);
      }
      .title p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        color: var(--subtitle_color);
      }
      
}