<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>{{ .title }}</h2>
                    <p>{{ .subtitle }}
                    </p>
                </div>
                <div id="blog-post" class="owl-carousel">
                    <div>
                        <div class="block">
                            <img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
                            <div class="content">
                                <h4><a href="blog.html">Hey,This is a blog title</a></h4>
                                <small>By admin / Sept 18, 2014</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil
                                    qui debitis atque necessitatibus aliquam, consequuntur autem!
                                </p>
                                <a href="blog.html" class="btn btn-read">Read More</a>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block">
                            <img src="img/blog/blog-2.jpg" alt="" class="img-responsive">
                            <div class="content">
                                <h4><a href="blog.html">Hey,This is a blog title</a></h4>
                                <small>By admin / Sept 18, 2014</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil
                                    qui debitis atque necessitatibus aliquam, consequuntur autem!
                                </p>
                                <a href="blog.html" class="btn btn-read">Read More</a>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block">
                            <img src="img/blog/blog-3.jpg" alt="" class="img-responsive">
                            <div class="content">
                                <h4><a href="blog.html">Hey,This is a blog title</a></h4>
                                <small>By admin / Sept 18, 2014</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil
                                    qui debitis atque necessitatibus aliquam, consequuntur autem!
                                </p>
                                <a href="blog.html" class="btn btn-read">Read More</a>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block">
                            <img src="img/blog/blog-4.jpg" alt="" class="img-responsive">
                            <div class="content">
                                <h4><a href="blog.html">Hey,This is a blog title</a></h4>
                                <small>By admin / Sept 18, 2014</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil
                                    qui debitis atque necessitatibus aliquam, consequuntur autem!
                                </p>
                                <a href="blog.html" class="btn btn-read">Read More</a>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block">
                            <img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
                            <div class="content">
                                <h4><a href="blog.html">Hey,This is a blog title</a></h4>
                                <small>By admin / Sept 18, 2014</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil
                                    qui debitis atque necessitatibus aliquam, consequuntur autem!
                                </p>
                                <a href="blog.html" class="btn btn-read">Read More</a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>