
<section id="blog" style="background: {{ .background_color }}">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                {{ partial "bookshop" (slice "generic/heading" .heading )}}

                <div id="blog-post">
                  {{ range where site.RegularPages "Section" "blog" }} 
                    <div class="card">
                        {{ partial "bookshop" (slice "generic/blog-card" (dict "url" .RelPermalink "image" .Params.image "title" .Params.title "description" .Params.description "Summary" .Summary "date" .Date "author" .Params.author)) }}
                    </div>
                  {{ end }}
                </div>
                  
            </div>
        </div>
            <div>
                <a href="/blog/"><h2 style="color: {{ .link_color }}">See more...</h2></a>
            </div>
    </div>
    
</section>