<section id="blog" style="background: {{ .background_color }}">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                {{ partial "bookshop" (slice "generic/heading" .heading )}}
                
                <div id="blog-post">
                    {{ range .posts }}
                    <div class="col-md-4 col">
                    {{ partial "bookshop" (slice "generic/blog-card" . )}}</div>
                    {{ end }}
                </div>

                <div id="blog-post">
                    {{ range where site.RegularPages "Section" "posts" | first 3 }}
                    <div class="col-md-4 col">
                    {{ partial "bookshop" (slice "blog-card" (dict "url" .RelPermalink "image" .Params.image "title" .Params.title "description" .Params.description "Summary" .Summary "date" .Date "tags" .Params.tags)) }}
                  {{ end }}
      
                </div>
            </div>
        </div>
            <div>
                <a href="/blog"><h2>See more...</h2></a>
            </div>
    </div>
    
</section>