<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ print .Page.Title " | " .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- google fonts -->

	<!-- Combine the CSS -->
    <!-- The bookshop_scss partial returns a slice of all SCSS resources from your Bookshop -->
    {{ $bookshop_scss_files := partial "bookshop_scss" . }}
    <!-- resources.Concat converts all of the above SCSS resources into one logical CSS file -->
    {{ $bookscss := $bookshop_scss_files | resources.Concat "css/bookshop.css" |
    resources.ToCSS }}
 <!-- fetch all *.scss files in the ./assets/scss/ folder and combine and convert to css -->
    {{ $scss := resources.Match "/scss/*.scss" | resources.Concat "glob2.css" | resources.ToCSS }}

    {{ $css := resources.Match "/css/*.css" | resources.Concat "glob1.css" | resources.Minify | resources.Fingerprint }}

    {{ $css := slice $css $scss $bookscss | resources.Concat "main.css"  }}
   


    {{ $style := resources.Get "/css/style.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" />
</head>

 {{ partial "nav.html" . }}

 <body id="top">
	<div class="wrapper">
        {{ block "main" . }}{{ end }}
	</div>
</body>

{{ partial "footer.html" . }}

</html>