<section id="portfolio" style="background: {{ .background_color }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    {{ partial "bookshop" (slice "generic/heading" .heading )}}
                </div>
{{/*  
                {{ range .projects }}
               <div class="block ">
                  <div class="col-md-4 col">
                       <div class="row">
                         {{ partial "bookshop" (slice "generic/projects-card" . ) }}
                       </div>
                   </div>
               </div>
               {{ end }}  */}}

                 {{ range (where site.RegularPages "section" "projects" | first 6) }}
                <div class="block ">
                   <div class="col-md-4 col">
                        <div class="row">
                            <p>images</p>
                          {{ partial "bookshop" (slice "generic/projects-card" (dict "url" .RelPermalink "image" .Params.image "title" .Params.title "description" .Params.description)) }}
                        </div>
                    </div>
                </div>
                {{ end }}

            </div>
        </div>
    </div>
</section>