{{ $c := "c-form" }}
<section id="contact-form" style="background: {{ .background_color }}">
    <div class="container">
        <div class="row">
            {{ partial "bookshop" (slice "generic/heading" .heading )}}
            <div class="col-md-6 col">
                <!-- map -->
                <div class="map">
                    <div id="googleMap"></div>
                </div>
                <!--/map-->

            </div>
            <div class="col-md-6">
                <form>
                    <input type="text" class="form-control" placeholder="Name">
                    <input type="text" class="form-control" placeholder="Email">
                    <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                    <div class="{{ $c }}--button">
                    {{ partial "bookshop" (slice "generic/button" .button )}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>