<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>OUR BEST SERVICES</h2>
                    <p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-easel"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">Responsive Design</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing
                        elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-paintbucket"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing
                        elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-paintbrush"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing
                        elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
    </div>
</section>