<section id="pricing-table">
    <div class="container">
        <div class="row">
            {{ partial "bookshop" (slice "generic/heading" .heading )}}
            {{ range .price_card }}
            <div class="col-md-4 col">
                
                <div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
                    <ul>
                        <li>
                            <h4>{{ .title }}</h4>
                            <p>{{.currency_unit }}{{ .price }}<span>{{ .frequency }}</span></p>
                        </li>
                        <li>
                            <p>{{ .list_1 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_2 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_3 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_4 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_5 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_6 }}</p>
                        </li>
                        <li>
                            {{ partial "bookshop" (slice "generic/button" .button )}}
                            {{/*  <a href="#" class="btn btn-buy">{{ .button }}</a>  */}}
                        </li>
                    </ul>
                </div>
            </div>{{ end }}
            
        </div>
    </div>
</section>