<section id="pricing-table">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>{{ .title }}</h2>
                <p>{{ .subtitle }}</p>
            </div>
            <div class="col-md-4 col">
                <div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
                    <ul>
                        <li>
                            <h4>{{ .card_title }}</h4>
                            <p>{{ .price }}<span>{{ .frequency }}</span></p>
                        </li>
                        <li>
                            <p>{{ .list_1 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_2 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_3 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_4 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_5 }}</p>
                        </li>
                        <li>
                            <p>{{ .list_6 }}</p>
                        </li>
                        <li>
                            <a href="#" class="btn btn-buy">{{ .button }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col">
                <div class="block text-center wow zoomIn" data-wow-delay=".3s">
                    <ul>
                        <li>
                            <h4>STARTER PACK</h4>
                            <p>&#36; 40 <span>/Month</span></p>
                        </li>
                        <li>
                            <p>Unlimited Downloads</p>
                        </li>
                        <li>
                            <p>Unlimited Uploads</p>
                        </li>
                        <li>
                            <p>Unlimited Email Accounts</p>
                        </li>
                        <li>
                            <p> Email Forwards </p>
                        </li>
                        <li>
                            <p>Cloud Storage</p>
                        </li>
                        <li>
                            <p>Screen Share</p>
                        </li>
                        <li>
                            <a href="#" class="btn btn-buy">BUY NOW</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col">
                <div class="block text-center wow fadeInRight" data-wow-delay=".3s">
                    <ul>
                        <li>
                            <h4>STARTER PACK</h4>
                            <p>&#36; 40 <span>/Month</span></p>
                        </li>
                        <li>
                            <p>Unlimited Downloads</p>
                        </li>
                        <li>
                            <p>Unlimited Uploads</p>
                        </li>
                        <li>
                            <p>Unlimited Email Accounts</p>
                        </li>
                        <li>
                            <p> Email Forwards </p>
                        </li>
                        <li>
                            <p>Cloud Storage</p>
                        </li>
                        <li>
                            <p>Screen Share</p>
                        </li>
                        <li>
                            <a href="#" class="btn btn-buy">BUY NOW</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>