<section id="counter" style="background-image: url('{{ .image }}')" alt="{{ .image_alt }}">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>{{ .title }}</h2>
                <p>{{ .subheading }}</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s">
                    <i class="ion-code"></i>
                    <p class="count-text">
                        <span class="counter-digit">{{ .counter_1 }}
                    </p>
                    <p>{{ .counter_1_subheading }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".5s">
                    <i class="ion-compass"></i>
                    <p class="count-text">
                        <span class="counter-digit">{{ .counter_2 }}
                    </p>
                    <p>{{ .counter_2_subheading }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".7s">
                    <i class="ion-compose"></i>
                    <p class="count-text">
                        <span class="counter-digit">{{ .counter_3 }}
                    </p>
                    <p>{{ .counter_3_subheading }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".9s">
                    <i class="ion-image"></i>
                    <p class="count-text">
                        <span class="counter-digit">{{ .counter_4 }}
                    </p>
                    <p>{{ .counter_4_subheading }}</p>
                </div>
            </div>
        </div>
    </div>
</section>