.c-counter {
    p {
        font-size: 18px;
        font-weight: 300;
        padding-top: 20px;
        color: var(--number_color);
      }
      span {
        color: var(--number_color);
      }
      ion-icon {
        font-size: 64px;
      }

}