{{ $c := "c-counter" }}
<section id="counter" style="background-image: url('{{ .image }}'); background-color: {{ .background_color }}" alt="{{ .image_alt }}">
    <div class="container {{ $c }}">
        <div class="row">
            <div class="title">
                {{ partial "bookshop" (slice "generic/heading" .heading )}}
            </div>
            {{ range .numbers }}
            <div class="col-md-3 col-sm-6 col-xs-6 " style="--number_color: {{ .number_color }}">
                <div class="block wow fadeInRight " data-wow-delay=".3s">
                    <i class="ion-code"></i>
                    <p class="count-text" >
                        <span class="counter-digit">{{ if .prefix }}<span>{{ .prefix }}</span>{{ end }}
                            {{ .number }}
                            {{ if .suffix }}<span>{{ .suffix }}</span>{{ end }}
                    </p>
                    <p>{{ .text }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>