.c-features {

    .feature-block h4 {
        font-size: 20px;
        position: relative;
        text-transform: none;
        margin-bottom: 10px;
        font-weight: 400;
      
    &--heading-primary-1 {
        color: var(--primary-1);
      }
      &--heading-primary-2 {
        color: var(--primary-2);
      }
      &--heading-primary-2 {
        color: var(--primary-2);
      }}
      
    .feature-block p {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        margin-top: 20px;
        
        &--text-primary-1 {
            color: var(--primary-1);
          }
          &--text-primary-2 {
            color: var(--primary-2);
          }
          &--text-primary-2 {
            color: var(--primary-2);
          }
      }
}