{{ $c := "c-features"}}
<section id="features" style="background: {{ .background_color }}">
    <div class="container">
        {{ partial "bookshop" (slice "generic/heading" .heading )}}
        <div class="row">

            {{ range .features }}
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-easel"></i>
                    </div>
                    <h4 class="{{ $c }} wow fadeInUp" data-wow-delay=".3s" style="--features_heading_color: {{ .featues_heading_color }}">{{ .heading }}</h4>
                    <p class="{{ $c }} wow fadeInUp" data-wow-delay=".5s" style="--features_text_color: {{ .featues_text_color }}">{{ .text }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>