<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>{{ .title }}</h2>
                    <p>{{ .subheading }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-easel"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">{{ .heading_1 }}</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">{{ .text_1 }}</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-paintbucket"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">{{ .heading_2 }}</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">{{ .text_2 }}</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-paintbrush"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">{{ .heading_3 }}</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">{{ .text_3 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>