.c-projects-card {

    &__content {
        position: relative;
        text-align: center;
        color: white;
        margin: 15px;
    }

    &__overlay {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        vertical-align: middle;
        transition: 0.3s;
        background: #fff;
        
        &:hover{
            opacity: 0.9;
        }

        h3 {
            margin: 50px 10px 20px;
            text-transform: uppercase;
            color: #333;
        }

        p { 
            font-size: 18px;
            font-weight: 300;
            padding: 0px 10px;
            color: #6d6969;
        }
    }

    &__image {
        width: 350px;
        height: 300px;
    }

    img {
        width: 100%;
        height: 100%;
         object-fit: cover;
    }
    
}