<section id="client-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    
                    <div id="Client_Logo">
                        {{ range .logos }}
                        <div>
                            <a href="{{ .link }}" ><img src="{{ .image }}" alt="{{ .image_alt }}" style="padding: 10px"></a>
                        </div>
                        {{ end }} 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>