<section id="client-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div id="Client_Logo">
                        {{ range .logos }}
                        <div>
                                {{ partial "bookshop" (slice "generic/logo" .logos )}}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>