<section id="client-logo">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                {{ range .logos }}
                <div class="block">
                    <div id="Client_Logo">
                        
                        <div>
                            <a href="{{ .link }}" ><img src="{{ .image }}" alt="{{ .image_alt }}"></a>
                        </div>
                        
                    </div>
                </div>
                 {{ end }}  
            </div>
        </div>
    </div>
</section>