.c-blog-card {

  margin: 0 10px;
  

    .card {
        background: #fff;
        margin: 20px 0;
        width: 100%;
        height: 570px;
        border: 1px solid #6d6969;
        border-radius: 5px;
        transition: all .2s ease-in-out;
      }

      .card:hover {
        transform: scale(1.05);
      }
      
      .content {
        padding:30px 25px; 
        text-align: center;
        
      }
      
      .content h4 {
        text-transform: capitalize;
        position: relative;
        margin: 20px 0 10px;
        padding: 10px 0;
      }
      .content h4 a {
        color: var(--title_color);
      }
    //   .content h4 a:hover {
    //    color: #80d6a3; 
    //   }
      .content h4::before {
          content: '';
          position: absolute;
          left: 45%;
          top: -6px;
          width: 30px;
          height: 2px;
          background-color: var(--line_color);
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all;
      }
      .content small {
        color: var(--author_details_color);
      }
      .content p {
        margin-top: 10px;
        margin-bottom: 20px;
        color: var(--description_color);
      }

      img {
        object-fit: cover;
        height: 250px;
        width: 100%;
      }

}