
<div class="c-blog-card">
    <a href="{{ .url }}">
        <div class="card">
            <img src="{{ .image }}" alt="{{ .image_alt }}" class="img-responsive">
            <div class="content">
                <h4 style="--title_color: {{ .title_color }};--line_color: {{ .line_color }}"><a href="{{ .url }}">{{ .title }}</a></h4>
                <small style="--author_details_color: {{ .author_details_color }}">By {{ .author }} on {{ .date }}</small>
                <p style="--description_color: {{ .description_color }}">
                    {{ .description }}
                </p>

            </div> 
        </div>
    </a>
</div>